# ecobee DYD metadata - Data cleaning and processing.
The goal is to clean and process the raw ecobee DYD metadata to steamline the analysis.

You get to do this data cleaning and processing part almost every time before the actual analysis.

Fall 2024 Building Data Analytics and Visualization (BDAV) Course.

### Import libraries

In [19]:
import pandas as pd

### loading the ecobee dataset

In [20]:
print("Loading ecobee DYD metadata")
df = pd.read_csv('ecb_dyd_metadata.csv') # ecbe_metadata.csv?

# display the first few rows of the data set
df.head()

Loading ecobee DYD metadata

,identifier,account_id,runtime,model,country,province_state,city,building_type,floor_area_sqft,number_floors,building_age_yrs,number_occupants,number_cool_stages,number_heat_stages,allow_comp_with_aux,has_electric,has_heatpump,number_remote_sensors,first_connected
0,63299b4395a21685163f44719570c156df7ae96d,c78cccf5eef35744d80d457847825f622daa9c62,2024-04-03 16:05:13.525793+00:00,ecobee4,CA,AB,Calgary,NaN,NaN,NaN,NaN,NaN,1,2,True,False,False,2,2018-02-13 00:21:58
1,a86bd752180f9e9d1d4e67ff7f5cd977aad6fdc8,1f33965cae9d654559b91455ae1cd6f359b845be,2024-04-03 16:05:13.525793+00:00,ecobee3Lite,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1,1,True,False,False,0,2022-12-21 19:01:51
2,2274ba2595335e43c37c1cbb0ef4ab18e96e0a89,2297ca9740867edc63b7e1f0da592b8b537418b7,2024-04-03 16:05:13.525793+00:00,ecobee3,US,PA,NaN,NaN,0.0,0.0,0.0,0.0,1,1,False,False,False,0,2020-10-03 16:41:01
3,2ea7a4b26c76630d5d0ce328d512c201874df711,aa00d524db5299ae417bfed79b1d24c85b7e2101,2024-04-03 16:05:13.525793+00:00,ecobee3,NaN,NaN,NaN,townhouse,0.0,3.0,40.0,4.0,0,2,False,False,False,0,2017-11-19 17:54:00
4,ad79a4bc10128ec95c77af9805e37af57a0ba18c,3ce459260a96bcc52e2a70325fc919e4f3c19bbc,2024-04-03 16:05:13.525793+00:00,ecobee3Lite,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1,1,False,False,False,2,2019-04-12 19:57:58

In [21]:
# display basic information about the dataset
print("\nDataset Info:")
df.info() #pandas.DataFrame.info

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239931 entries, 0 to 239930
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   identifier             239931 non-null  object
 1   account_id             239931 non-null  object
 2   runtime                239931 non-null  object
 3   model                  211711 non-null  object
 4   country                231109 non-null  object
 5   province_state         230971 non-null  object
 6   city                   230776 non-null  object
 7   building_type          207903 non-null  object
 8   floor_area_sqft        239930 non-null  float64
 9   number_floors          239930 non-null  float64
 10  building_age_yrs       239930 non-null  float64
 11  number_occupants       239930 non-null  float64
 12  number_cool_stages     239931 non-null  int64
 13  number_heat_stages     239931 non-null  int64
 14  allow_comp_with_aux    239931 non-null  bool
 15  has_electric           239931 non-null  bool
 16  has_heatpump           239931 non-null  bool
 17  number_remote_sensors  239931 non-null  int64
 18  first_connected        238308 non-null  object
dtypes: bool(3), float64(4), int64(3), object(9)
memory usage: 30.0+ MB

### Cleaning rows with NaN values.

In [22]:
# Check for missing values
print("Missing values before cleaning:")
print(df.isnull().sum())

Missing values before cleaning:
identifier                   0
account_id                   0
runtime                      0
model                    28220
country                   8822
province_state            8960
city                      9155
building_type            32028
floor_area_sqft              1
number_floors                1
building_age_yrs             1
number_occupants             1
number_cool_stages           0
number_heat_stages           0
allow_comp_with_aux          0
has_electric                 0
has_heatpump                 0
number_remote_sensors        0
first_connected           1623
dtype: int64

In [23]:
# Count total rows before cleaning
rows_before = len(df)

# Remove rows with NaN values
df = df.dropna()

# Count total rows after cleaning
rows_after = len(df)
print(f"Total rows after cleaning: {rows_after}")
print(f"Rows removed: {rows_before - rows_after}")

Total rows after cleaning: 173855
Rows removed: 66076

### Filtering out Non-US data

In [24]:
# Count entries by country before filtering
print("Entries by country before filtering:")
df['country'].value_counts()

Entries by country before filtering:

country
US    155377
CA     17823
AE       167
MX       107
AU        66
GB        33
AR        24
CL        23
KY        22
RU        19
UA        16
PA        14
BH        14
KW        12
DO        10
PL         9
LV         9
EC         7
IT         7
KR         7
VE         6
SA         6
BS         6
LT         5
RO         5
BR         5
UY         5
NL         5
CN         5
HK         4
CR         4
CO         4
CZ         4
QA         4
IE         2
HU         2
GE         2
HN         2
IR         2
ES         1
LB         1
JO         1
IM         1
NI         1
SI         1
BG         1
GT         1
BY         1
GR         1
SV         1
Name: count, dtype: int64

In [25]:
# Filter for US data only
df_us = df[df['country'] == 'US']

# Display the number of entries after filtering
print(f"\nTotal entries after filtering for US: {len(df_us)}")
df_us.info()

Total entries after filtering for US: 155377
<class 'pandas.core.frame.DataFrame'>
Index: 155377 entries, 1179 to 239930
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   identifier             155377 non-null  object
 1   account_id             155377 non-null  object
 2   runtime                155377 non-null  object
 3   model                  155377 non-null  object
 4   country                155377 non-null  object
 5   province_state         155377 non-null  object
 6   city                   155377 non-null  object
 7   building_type          155377 non-null  object
 8   floor_area_sqft        155377 non-null  float64
 9   number_floors          155377 non-null  float64
 10  building_age_yrs       155377 non-null  float64
 11  number_occupants       155377 non-null  float64
 12  number_cool_stages     155377 non-null  int64
 13  number_heat_stages     155377 non-null  int64
 14  allow_comp_with_aux    155377 non-null  bool
 15  has_electric           155377 non-null  bool
 16  has_heatpump           155377 non-null  bool
 17  number_remote_sensors  155377 non-null  int64
 18  first_connected        155377 non-null  object
dtypes: bool(3), float64(4), int64(3), object(9)
memory usage: 20.6+ MB

### filtering out the rows that have invalid inputs.

In [26]:
# import typing
from typing import Union

# typing: a.k.a. type hinting. A feature introduced in Python 3.5 that allows you to specify the expected data types of variables, 
#                              function parameters, and return values.
#                              Benefits: Readability and Maintainability
# Union in typing: when a variable, function argument, or return value can be of multiple types.

In [27]:
# 4. Custom Filtering Function
def filter_by_threshold(
    dataframe: pd.DataFrame, 
    column: str, 
    threshold: Union[int, float]
) -> pd.DataFrame:
    """ 
    Filter the dataframe by removing rows where the value in the specified column
    is below the given threshold.

    Arguments:
    dataframe (pd.DataFrame): The input dataframe
    column (str): The name of the column to filter on
    threshold (Union[int, float]): The minimum threshold value
    
    Returns:
    pd.DataFrame: The filtered dataframe
    """
    original_count = len(dataframe)
    filtered_df = dataframe[dataframe[column] >= threshold]
    removed_count = original_count - len(filtered_df)
    
    print(f"Rows removed: {removed_count}")
    print(f"Rows remaining: {len(filtered_df)}")
    
    return filtered_df

In [28]:
# Start with the US data
df_filtered = df_us.copy()

In [29]:
# Filter out rows with floor area less than 300 sqft
print("\nFiltering floor_area_sqft < 50:")
df_filtered = filter_by_threshold(df_filtered, 'floor_area_sqft', 50)

# Filter out rows with zero floors
print("\nFiltering number_floors == 0:")
df_filtered = filter_by_threshold(df_filtered, 'number_floors', 1)

# Filter out rows with zero building age
print("\nFiltering building_age_yrs == 0:")
df_filtered = filter_by_threshold(df_filtered, 'building_age_yrs', 1)

Filtering floor_area_sqft < 50:
Rows removed: 2607
Rows remaining: 152770

Filtering number_floors == 0:
Rows removed: 135
Rows remaining: 152635

Filtering building_age_yrs == 0:
Rows removed: 11243
Rows remaining: 141392

In [30]:
# Exercise - Filter out rows with zero occupants in buildings
print("\nFiltering number_occupants == 0:")
df_filtered = filter_by_threshold(df_filtered, 'number_occupants', 1)

Filtering number_occupants == 0:
Rows removed: 70124
Rows remaining: 71268

In [31]:
original_count = len(df_us)
total_removed = original_count - len(df_filtered)
print(f"\nTotal rows removed by all filters: {total_removed}")
print(f"Final number of rows: {len(df_filtered)}")

Total rows removed by all filters: 84109
Final number of rows: 71268

### Processing the 'building_type' column

In [32]:
# Examine 'building_type' column before processing
print("\nUnique values in 'building_type' column before processing:")
print(df_filtered['building_type'].value_counts())

Unique values in 'building_type' column before processing:
building_type
detached         35047
Detached         14463
other             4510
Other             3486
townhouse         2958
condominium       1643
Townhouse         1562
rowHouse          1469
Apartment         1080
apartment         1005
Condominium        874
Row House          825
multiPlex          570
semiDetached       560
0                  371
Multi-plex         291
Semi-Detached      271
loft               182
Loft                85
I don't know         9
Condo                4
Multi Plex           3
Name: count, dtype: int64

In [33]:
# Process 'building_type' column
print("\nProcessing 'building_type' column...")

# Remove rows with '0' or 'I don't know' in building_type
df_filtered = df_filtered[~df_filtered['building_type'].isin(['0', "I don't know"])] # ~: NOT

# Standardize 'Condo' and 'condominium' to 'condo'
df_filtered['building_type'] = df_filtered['building_type'].replace({'Condo': 'condo', 
                                                                     'condominium': 'condo',
                                                                     'Condominium': 'condo',
                                                                     'Detached': 'detached',
                                                                     'Other': 'other',
                                                                     'Apartment': 'apartment',
                                                                     'Townhouse': 'townhouse',
                                                                     'rowHouse': 'rowhouse',
                                                                     'Rose House': 'rowhouse',
                                                                     'multiPlex': 'multiplex',
                                                                     'Multi-plex': 'multiplex',
                                                                     'Multi Plex': 'multiplex',
                                                                     'Loft': 'loft',
                                                                     'Row House': 'rowhouse',
                                                                     'semiDetached': 'semidetached',
                                                                     'Semi-Detached': 'semidetached',
                                                                     })

# Examine 'building_type' column after processing
print("\nUnique values in 'building_type' column after processing:")
print(df_filtered['building_type'].value_counts())

Processing 'building_type' column...

Unique values in 'building_type' column after processing:
building_type
detached        49510
other            7996
townhouse        4520
condo            2521
rowhouse         2294
apartment        2085
multiplex         864
semidetached      831
loft              267
Name: count, dtype: int64

In [34]:
# Exercise. Continue organizing the buliding_type column
# Goal: you do not have any unique values that are similar to each other (e.g., Townhouse, townhouse, town house, etc.) in the building_type column.

### Saving the preprocessed ecobee DYD metadata

In [35]:
# display basic information about the dataset
print("\nProcessed Dataset Info:")
df_filtered.info()

Processed Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 70888 entries, 32370 to 239927
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   identifier             70888 non-null  object
 1   account_id             70888 non-null  object
 2   runtime                70888 non-null  object
 3   model                  70888 non-null  object
 4   country                70888 non-null  object
 5   province_state         70888 non-null  object
 6   city                   70888 non-null  object
 7   building_type          70888 non-null  object
 8   floor_area_sqft        70888 non-null  float64
 9   number_floors          70888 non-null  float64
 10  building_age_yrs       70888 non-null  float64
 11  number_occupants       70888 non-null  float64
 12  number_cool_stages     70888 non-null  int64
 13  number_heat_stages     70888 non-null  int64
 14  allow_comp_with_aux    70888 non-null  bool
 15  has_electric           70888 non-null  bool
 16  has_heatpump           70888 non-null  bool
 17  number_remote_sensors  70888 non-null  int64
 18  first_connected        70888 non-null  object
dtypes: bool(3), float64(4), int64(3), object(9)
memory usage: 9.4+ MB

In [36]:
print("\nSaving Processed Data")
df_filtered.to_csv('processed_us_ecb_metadata.csv', index=False)
print("Processed US ECB metadata saved to 'processed_us_ecb_metadata.csv'")

print("\nData preprocessing workflow complete!")

Saving Processed Data
Processed US ECB metadata saved to 'processed_us_ecb_metadata.csv'

Data preprocessing workflow complete!